.App {
	text-align: center;
}

.App-logo {
	height: 100px;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.multi-range-slider-container {
	max-width: 600px;
	margin: auto;
}
